body {
        background: #B9F2E8;
        color: #000000;
        font-family: Trebuchet MS, Arial, Times New Roman;
        font-size: 12px;
}

#register {
        background: #B9F2E8;
        padding-bottom: 10px;
}

#container {
        background: #FFFFFF;
        margin: 10px auto;
        width: 80%;
        height: 100%;
}

#header {
        background: #0d6758;
        width: 100%;
        height: 10%;
}

#menu {
        background: #289f8b;
        float: left;
        width: 30%;
        height: 490px;
}

#content {
        background: #5bcfbc;
        float: right;
        width: 70%;
        height: 490px;
}

p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
}
#table-a {
        width: 300px;
        margin-left: 70%;
}

td {
        text-align: center;
}

A {
        color: #fdf4ff;
}

A:visited {
        color: #cecece;
}

A:active {
        color:#ffff00;
}

#images {

        display: inline-block;
        width: 170px;
        height: 150px;
        outline: 2px solid #000; /* Чёрная рамка */
        border: 3px solid #fff;
        text-align: center;
}
img {
        max-width:100%;
        height:100%;
}
.pagination{
        text-align: center;
}

img.zoom {
        -moz-user-select: none; user-select: none;
}
img.zoom:hover {
        display: block;
        position: fixed;
        z-index: 10;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        max-width: 99%;
        max-height: 99%;
        border: solid rgba(210,210,210,.4);
        border-width: 100vh 100vw;
        cursor: zoom-out;
}

:not(:active) > img.zoom:not(:hover), img.zoom:active {
        pointer-events: none;
}

button, .b1{
        background:#003D33;
        color: white;
}

.but{
        width:100%;
        height:25px;
}

#clear {
        clear:both;
}