<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <title>Gallery</title>
        <link rel="stylesheet" type="text/css" href="{% static 'dir/css/style.css' %}" />
    </head>

    <body>
        <h1>Add a Category</h1>
        <form id="category_form" method="post" action="/dir/add_category/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input class="b1" type="submit" name="submit" value="Create Category" />
        </form>
    </body>
</html>