<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <title>Gallery</title>
        <link rel="stylesheet" type="text/css" href="{% static 'dir/css/style.css' %}" />
    </head>

    <body>
        <h1>Edit a Category</h1>
        <form id="form" method="post" action="/dir/edit_category/">

        {{ form.name }}
        {{ form.parent }}
            <br><hr>
{{ form.as_p }}

            <input class="b1" type="submit" name="submit" value="Create Category" />
        </form>
    </body>
</html>