<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <title>Gallery</title>
        <link rel="stylesheet" type="text/css" href="{% static 'dir/css/style.css' %}" />
    </head>
    <body>

    <div id="container">
        <div id="register">
            <hr>
            {% if user.is_authenticated %}
            <h3> Hello, {{ user.username }}!</h3>
            {% else %}
            <h3> Welcome!</h3>
            {% endif %}

            {% if user.is_authenticated %}
                <a href="/dir/restricted/" style="color:black">Restricted Page</a>
                <a href="/dir/logout/" style="color:black ">Logout</a><br />
            {% else %}
                <a href="/dir/register/" style="color:black">Register Here</a>
                <a href="/dir/login/" style="color:black">Login</a><br />
            {% endif %}
        </div>

        <div id="header">
            <table id="table-a">

                <tr >
                    {# <td><input id="search" type="text" name="search" value="" size="30"  placeholder="search"/></td> #}
                    <td><a href="/dir/sort_name_a/">A-Z</a></td>
                    <td><a href="/dir/sort_name_z/">Z-A</a></td>
                    <td><a class="link white" href="/dir/sort_date_a/{{ node.id }}">Date+</a></td>
                    <td><a class="link white" href="/dir/sort_date_z/{{ node.id }}">Date-</a></td>

                    {% if user.is_authenticated %}
                    <td><a class="link white" href="/dir/upload_file/">Upload</a></td>
                    {% endif %}

                </tr>
            </table>
        </div>

        <div id="menu">
        <br>
        {% load mptt_tags %}
        <ul>
            {% recursetree nodes %}
                <li>
                    <label><input id="ch" type="checkbox" name="insurance" value="{{ node.id }}" >
                        <a class="link white" id="dir_id" href="/dir/category_page/{{ node.id }}/">
                           {{ node.name }}
                        </a>
                    </label>
                    {% if node.is_root_node %}
                        {% ifequal node.id root_category_id %}
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        {% endifequal %}
                    {% else %}
                        {% if not node.is_leaf_node %}
                            {% if current_category.id == node.id %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% elif node.level < current_category.level %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
        {% if user.is_authenticated %}
        <button id="add" class="but" name="button" title="Add" onClick='location.href="/dir/add_category/"'>Add</button>
        <button id="del" class="but" name="button" title="Delete" >Delete</button>
        {# <button id="ed" class="but" name="button" title="Edit" >Edit</button>#}

        {% endif %}
       </div>

        <div id="content">

            <table width="100%" >
                <tr>
                {% for article in images %}
                    <td class="size-td">
                        <div id="images">
                            <img src="{{ article.nameIm.url }}" class="zoom">
                        </div>
                        {% if user.is_authenticated %}
                            <a class="link white" id="delim" href="/dir/image_delete/{{ article.id }}/" onClick="return window.confirm('Вы уверены, что хотите удалить картинку?')" title="Delete">
                                <img src="{% static 'dir/images/close.png' %}" />
                            </a>
                        {% endif %}

                        <p>{{ article.nameIm.name}}</p>
                        <p>{{ article.nameIm.width }}x{{ article.nameIm.height }}</p>
                    </td>
                        {% if forloop.counter|divisibleby:3 %}
                </tr>
                <tr>
                {% endif %}
                {% endfor %}
                </tr>
            </table>
            <br>

            <div class="pagination" >
                <span class="step-links">
                    {% if images.has_previous %}
                        <a href="?page={{ images.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ images.number }} of {{ images.paginator.num_pages }}.
                    </span>

                    {% if images.has_next %}
                        <a href="?page={{ images.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>

        </div>

    </div>
    <div id="clear"></div>
    {% block javascript %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{% static "dir/js/jquery-3.1.1.min.js" %}"></script>
        <script src="{% static "dir/js/main.js" %}"></script>
    {% endblock %}
    </body>
</html>