  {% block content %}   {% for article in imgs %}

            <tr>
                <td>
                    <div id="images">
                    <img src="{{ article.nameIm.url }}" >
                    </div>
                <p>{{ article.nameIm.name}}{{ article.dir}}</p>
                <p>{{ article.nameIm.width }}x{{ article.nameIm.height }}</p>
                </td>
            </tr>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if images.has_previous %}
            <a href="?page={{ images.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ images.number }} of {{ images.paginator.num_pages }}.
        </span>

        {% if images.has_next %}
            <a href="?page={{ images.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}