<!DOCTYPE html>
<html>
    {% load staticfiles %}

    <head>
        <title>Gallery</title>
        <link rel="stylesheet" type="text/css" href="{% static 'dir/css/style.css' %}" />
    </head>

    <body>
        <h1>Login to Gallery</h1>

        <form id="login_form" method="post" action="/dir/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="30" />
            <br />
            <br>
            Password:  <input type="password" name="password" value="" size="30" />
            <br />
            <input class="b1" type="submit"  name="submit" value="Login" />
        </form>

    </body>
</html>