<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <title>Gallery</title>
        <link rel="stylesheet" type="text/css" href="{% static 'dir/css/style.css' %}" />
    </head>

    <body>
        <h1>Register</h1>

        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/dir/">Return to the homepage.</a><br />
        {% else %}
        <strong>Register here!</strong><br />

        <form id="user_form" method="post" action="/dir/register/"
                enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input class="b1" type="submit" name="submit" value="Register" />
        </form>

        {% endif %}
    </body>
</html>

